---
import { Icon } from "astro-icon/components";
---

<nav>
  <a
    href="https://www.twitter.com/nerdigy"
    class="mr-2 text-white"
    target="_blank">
    <Icon name="twitter" class="inline-block h-5 w-5" />
  </a>
  <a
    href="https://www.youtube.com/@nerdigy"
    class="mr-3 text-white"
    target="_blank">
    <Icon name="youtube" class="inline-block h-5 w-5" />
  </a>
  <a href="/rss.xml" class="text-white" target="_blank">
    <Icon name="rss" class="inline-block h-4 w-4" />
  </a>
</nav>
